.card_home img{
  width:60px;
  height: 60px;
}
.card_album img{
	width: 95%;
	height: 160px;
}
.card_albumid img{
	width:242px;
	height: 240px;
}
.nav-tex {
	width: 200px;
}

.search{
	width: 90%;
}
.row_user{
	max-height: 80px;
}
.user_avatar img{
	width:90px;
  	height: 90px;
}
.username_text{
	font-size:14px;
	padding-bottom:20px;
}
.container_user p{
	font-size:14px;
}
.album_text{
	font-size:13px;
	color: black;
}
.container_album p{
	font-size:14px;
}
